/* this css affects in the default layout and therefore affects everything */
body {
      background-color:#373b3e;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) , url('{{ site.baseurl }}/assets/images/2022-10-20-23-36-47-1-hatsune_miku-1953064601-scale9.00-k_euler_a-stable-diffusion-1.4.png');
      color:#86cecb;
      font-family: monospace;
      font-size: 1rem;
    }
    
/* hyperlink style */
a {
      color: hotpink;
      text-decoration: none
    }
a:hover {
      text-decoration: underline;
    }

/* small header style */
h3 {text-align: center;}

/* Positions and sizes everything, because <div> encapsulates the content in the default layout */
div {
    margin: auto;
    max-width: 80ch;
  }

/* Table cell padding in index.html and everywhere */
th, td {
    padding: 5px;
  }

/* Color for all italic letters */
em {
      color: OrangeRed;
}

/* Color for all bold letters */
b, strong {
  color: yellow;
  }