body {
      background-color: black;
      color: cyan;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      
    }
    
a {
      color: hotpink;
      text-decoration: none
    }
a:hover {
      text-decoration: underline;
    }
    
h3 {text-align: center;}

p {
    max-width: 80ch;
  }

div {
    margin: auto;
    border: 2px solid yellow;
    padding: 10px;
  }

table{
    border: 2px solid yellow;
    margin: auto;
  }